swagger: '2.0'
info:
  title: Book Store
  description: API for Book Store
  version: 1.0.0
host: book-store.kabuku.co.jp
basePath: /api/v1
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json

paths:
  /books:
    get:
      tags: [Books]
      summary: 本の一覧取得
      description: これまでに登録されている本の一覧を取得します
      operationId: getBooksList
      responses:
        '200':
          description: successful operation
          schema:
            title: books
            type: array
            items:
              $ref: '#/definitions/Book'
    post:
      tags: [Books]
      summary: 本の登録
      description: 渡されるパラメータに基づいて、新しい本を登録します
      operationId: createBook
      parameters:
        - name: book
          in: body
          description: book parameter
          required: true
          schema:
            $ref: '#/definitions/Book'
      responses:
        '200':
          description: successful operation
          schema:
            title: book
            $ref: '#/definitions/Book'

  /books/{id}:
    parameters:
      - name: id
        in: path
        description: book id
        required: true
        type: integer
        format: int64
    get:
      tags: [Books]
      summary: 本の詳細取得
      description: 指定されたidに該当する本の詳細情報を取得します
      operationId: getBookById
      responses:
        '200':
          description: successful operation
          schema:
            title: book
            $ref: '#/definitions/Book'
    put:
      tags: [Books]
      summary: 本の詳細更新
      description: 指定されたidに該当する本の詳細情報を、渡されるパラメータに基づいて、更新します  
      operationId: updateBook
      parameters:
        - name: book
          in: body
          description: book parameter
          required: true
          schema:
            $ref: '#/definitions/Book'
      responses:
        '200':
          description: successful operation
          schema:
            title: book
            $ref: '#/definitions/Book'

    delete:
      tags: [Books]
      summary: 本の削除
      description: 指定されたidに該当する本を削除します
      operationId: deleteBook
      responses:
        '204':
          description: successful operation

definitions:
  Book:
    type: object
    required: [id, title, author, release_date]
    properties:
      id:
        type: integer
        description: 本を識別する一意のID
        readOnly: true
        example: 1
      title:
        type: string
        description: 本のタイトル
        example: 初めてのThree.js 第2版 ―WebGLのためのJavaScript 3Dライブラリ
      author:
        type: string
        description: 著者名
        example: Jos Dirksen
      translator:
        type: string
        description: 翻訳者
        example: あんどうやすし
      release_date:
        type: string
        format: date
        description: 発売日
        example: 2016-07-23
      url:
        type: string
        format: uri
        description: 本のURL
        example: https://www.amazon.co.jp/dp/4873117704
